nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    list-style: none;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 15px;
}

nav ul li a:hover {
    background-color: #1A252F;
    border-radius: 5px;
}
